@import url("https://fonts.googleapis.com/css2?family=Netflix+Sans:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Netflix Sans", sans-serif; /* Aplica a fonte Netflix Sans ao corpo do documento */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
